<!DOCTYPE html>
<html>
  <head>
    <title>Example Form</title>
  </head>
  <body>
    <form action="/submit-form" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name">

      <label for="genre">Genre:</label>
      <input type="genre" name="genre" id="genre">

      <label for="subject">Subject:</label>
      <input type="subject" name="subject" id="subject">

      <button type="submit">Submit</button>
    </form>
    <p value={{output}}>{{ output }}:</p>
  </body>
</html>