<!DOCTYPE html>
<html>
  <head>
    <title>I Have a Story to Tell</title>
    <link rel="stylesheet" href="../static/css/generator.css" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet">
  </head>
  <body>
    <h1 class="header">I Have a Story to Tell</h1>
    <form action="/submit-form" method="post">
      <div class="form-container">
      <p>Fill in the fields to generate your story. </p>

        <label for="name">What happened to you?</label>
        <textarea name="event" type="text" id="event" rows="4" cols="50"></textarea>
        
        <label for="name">How did it make you feel?</label>
        <textarea name="feeling" type="text" id="feeling" rows="4" cols="50"></textarea>

        <label for="lesson">What did you learn from this experience?</label>
        <textarea name="lesson" type="text" id="lesson" rows="4" cols="50"></textarea>

        <label for="genre">What genre would you like your story to be in?</label>
        <input type="genre" name="genre" id="genre">
        
        <label for="option">How would you like this story to be expressed?</label>
        <select id="option" name="option" value="option">
          <option value="">-- Select a tone option --</option>
          <option value="intellecually">Intellectually</option>
          <option value="angrily">Angrily</option>
          <option value="nonchalantly">Nonchalantly</option>
          <option value="funnily">Funnily</option>
        </select>

        <button type="submit">Submit</button>
      </div>
    </form>
    <div class="output-container"><p value={{output}}>{{ output }}</p> </div>
  </body>
</html>