<!DOCTYPE html>
<html>
  <head>
    <title>Story Generator</title>
    <link rel="stylesheet" href="../static/css/generator.css" type="text/css">
  </head>
  <body>
    <h1 class="header">Story Generator</h1>
    <form action="/submit-form" method="post">
      <div class="form-container">
        <label for="name">What is your protagonist's name?</label>
        <input type="text" name="name" id="name">

        <label for="genre">What genre would you like your story to be in?</label>
        <input type="genre" name="genre" id="genre">

        <label for="subject">What will your story be about?</label>
        <input type="subject" name="subject" id="subject">

        <button type="submit">Submit</button>
      </div>
    </form>
    <div class="output-container"><p value={{output}}>{{ output }}</p> </div>
  </body>
</html>